.footer {
    width: 100%;
    min-width: 1800px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    text-align: center;
    color: #d7d7d7; 
    background-color: #fff;
    .leftText{
        margin-right: 28px;
    }
}